<div class="head-wrapper">
    <div class="head-left">
        {% if page.path == 'index.html' %}
        <a href="#">
        {% else %}
        <a href="/">
        {% endif %}
            <span class="logo-circle">
                <img src="/assets/images/logo.png" class="logo" alt="{{ site.title }}"/>
            </span>
            <span class="logo-text">{{ site.title | upcase }}</span>
        </a>
    </div>
    <div class="head-right">
        <div class="main-navigation">
            <ul>
                <li><a href="/#about-us">About us</a></li>
                <!-- <li><a href="#solutions">Solutions</a></li> -->
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </div>
        <div class="menu-toggle">
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div id="mobile-nav" class="animate__fadeInDown">
        <div class="mobile-nav-wrapper">
            <ul>
                <li><a href="/#about-us">About us</a></li>
                <!-- <li><a href="#solutions">Solutions</a></li> -->
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>