<div class="head-wrapper">
    <div class="head-left">
        <a href="/#">
            <span class="logo-circle">
                <img src="/assets/images/logo.png" class="logo" alt="{{ site.title }}"/>
            </span>
            <span class="logo-text">{{ site.title | upcase }}</span>
        </a>
    </div>
    <div class="head-right">
        <div class="main-navigation">
            <ul>
            {% for p in site.data.nav.pages %}
                {% unless p.isHome %}
                <li><a href="{{p.url}}">{{ p.label }}</a></li>
                {% endunless %}
                {% for s in p.sections %}
                <li><a href="{{s.url}}">{{ s.label }}</a></li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
        <div class="menu-toggle">
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div id="mobile-nav" class="animate__fadeInDown">
        <div class="mobile-nav-wrapper">
            <ul>
            {% for p in site.data.nav.pages %}
                {% unless p.isHome %}
                <li><a href="{{p.url}}">{{ p.label }}</a></li>
                {% endunless %}
                {% for s in p.sections %}
                <li><a href="{{s.url}}">{{ s.label }}</a></li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>