
 @mixin mq($bp) {
	@if $bp == large {
        @media screen and (max-width: 1199px) { @content; }
    }
    @else if $bp == large-up {
        @media screen and (min-width: 1200px) { @content; }
    }
    @else if $bp == small-up {
        @media screen and (min-width: 730px) { @content; }
    }
    @else if $bp == medium {
        @media screen and (max-width: 880px) { @content; }
    }
    @else if $bp == small {
        @media screen and (max-width: 730px) { @content; }
    }
    @else if $bp == smaller {
        @media screen and (max-width: 481px) { @content; }
    }
    @else if $bp == mini {
        @media screen and (max-width: 400px) { @content; }
    }
}
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}
@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin flex($values) {
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
}
@mixin flex-direction($direction: row) {
    @if $direction == row-reverse {
      -webkit-box-direction: reverse;
      -webkit-box-orient: horizontal;
         -moz-box-direction: reverse;
         -moz-box-orient: horizontal;
    } @else if $direction == column {
      -webkit-box-direction: normal;
       -webkit-box-orient: vertical;
         -moz-box-direction: normal;
          -moz-box-orient: vertical;
    } @else if $direction == column-reverse {
      -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
         -moz-box-direction: reverse;
           -moz-box-orient: vertical;
    } @else {
       -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
          -moz-box-direction: normal;
         -moz-box-orient: horizontal;
    }
    -webkit-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}
@mixin flex-wrap($value: nowrap) {
    -webkit-flex-wrap: $value;
    @if $value == nowrap {
        -ms-flex-wrap: none;
    } @else {
        -ms-flex-wrap: $value;
    }
    flex-wrap: $value;
}
@mixin flex-order($value) {
    -webkit-order: $value;
    -ms-flex-order: $value;
    order: $value;
}

@mixin flex-justify-content($value: flex-start) {
    @if $value == flex-start {
        -webkit-box-pack: start;
            -moz-box-pack: start;
            -ms-flex-pack: start;
    } @else if $value == flex-end {
        -webkit-box-pack: end;
            -moz-box-pack: end;
            -ms-flex-pack: end;
    } @else if $value == space-between {
        -webkit-box-pack: justify;
            -moz-box-pack: justify;
            -ms-flex-pack: justify;
    } @else if $value == space-around {
            -ms-flex-pack: distribute;
    } @else {
        -webkit-box-pack: $value;
            -moz-box-pack: $value;
            -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
            justify-content: $value;
}
@mixin flex-align-content($value: stretch) {
    -webkit-align-content: $value;
    @if $value == flex-start {
        -ms-flex-line-pack: start;
    } @else if $value == flex-end {
        -ms-flex-line-pack: end;
    } @else {
        -ms-flex-line-pack: $value;
    }
    align-content: $value;
}
@mixin flex-align-items($value: stretch) {
    @if $value == flex-start {
        -webkit-box-align: start;
            -moz-box-align: start;
            -ms-flex-align: start;
    } @else if $value == flex-end {
        -webkit-box-align: end;
            -moz-box-align: end;
            -ms-flex-align: end;
    } @else {
        -webkit-box-align: $value;
            -moz-box-align: $value;
            -ms-flex-align: $value;
    }
    -webkit-align-items: $value;
            align-items: $value;
}
@mixin flex-align-self($value: auto) {
    -webkit-align-self: $value;
    @if $value == flex-start {
        -ms-flex-item-align: start;
    } @else if $value == flex-end {
        -ms-flex-item-align: end;
    } @else {
        -ms-flex-item-align: $value;
    }
    align-self: $value;
}