<!DOCTYPE html>
<html class="no-js" lang="en-US">

{% include head.html %}

<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas-content" data-off-canvas-content>
                <section id="head" data-sticky data-anchor="hero">
                    {% include header.html %}
                </section>
                <section id="body">
                    {% if page.hero %}
                    <main class="intro" id="hero">&nbsp;</main>
                    {% endif %}
                    <main class="content">
                        {% include content.html %}
                        <main class="footer">
                            {% include footer.html %}
                        </main>
                    </main>
                </section>
            </div>
        </div>
    </div>
    <a id="back-top"><i class="far fa-arrow-alt-circle-up"></i></a>
    {% include js.html %}
</body>

</html>